{% load static %}
{% load local_tags %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <meta charset="utf-8" /> 
  <link rel="shortcut icon" href="/favicon.ico" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 
  <meta name="theme-color" content="#000000" /> 
  <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" />
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.cookie.min.js' %}" type="text/javascript"></script>
  <title>Chat</title> 
</head> 
<body> 
  <div id="root">
   <div class="makeStyles-root-1">
    <header class="MuiPaper-root MuiPaper-elevation4 MuiAppBar-root MuiAppBar-positionFixed makeStyles-root-6 makeStyles-topBar-2 MuiAppBar-colorPrimary mui-fixed">
     <div class="MuiToolbar-root MuiToolbar-regular MuiToolbar-gutters">
      <a href="/"><img alt="Logo" src="{% static "img/logo.png" %}" /></a>
      <div class="makeStyles-flexGrow-7"></div>
      <div class="makeStyles-search-8">
       <svg class="MuiSvgIcon-root makeStyles-searchIcon-9" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
       </svg>
       <div class="MuiInputBase-root MuiInput-root makeStyles-searchInput-10">
        <input class="MuiInputBase-input MuiInput-input" placeholder="Search people &amp; places" type="text" />
       </div>
      </div>
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.contact.picture %}
            <div class="MuiAvatar-root makeStyles-avatar-203">
              <img alt="Person" src="{{ user.contact.picture.url }}" class="MuiAvatar-img" id="my_avatar">
            </div>
          {% else %}
            <div class="MuiAvatar-root MuiAvatar-colorDefault">
              {{ user_initial }}
            </div>
          {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item  pt-0 mt-0 pb-0 mb-0" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item  pt-0 mt-0 pb-0 mb-0" href="/logout/">Logout</a>
          </div>
        </li>
      </ul>
     </div>
    </header>
    <div class="makeStyles-container-3">
     <main class="makeStyles-content-5">
      <div class="makeStyles-root-248 makeStyles-openConversion-249">
       <div class="makeStyles-root-253 makeStyles-conversationList-250">
        <div class="MuiToolbar-root MuiToolbar-regular MuiToolbar-gutters">
         <div class="MuiInputBase-root MuiInput-root makeStyles-searchInput-254">
          <input class="MuiInputBase-input MuiInput-input" placeholder="Search contacts" type="text" id="contact-search" />
         </div>
         <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-edgeEnd" tabindex="0" type="button" title="Search"><span class="MuiIconButton-label">
           <svg class="MuiSvgIcon-root" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
           </svg></span><span class="MuiTouchRipple-root"></span></button>
        </div>
        <hr class="MuiDivider-root" />
        <ul class="MuiList-root">
        {% for contact in contacts %}
        {% if contact.user != user %}
          <a class="MuiButtonBase-root MuiListItem-root {% if contact.user.id == id_user %} 
            makeStyles-active-328 {% endif %} MuiListItem-gutters MuiListItem-divider MuiListItem-button contact-item" 
            tabindex="0" role="button" aria-disabled="false" href="{% url 'chat' contact.user.id %}"
            id="contact{{contact.user.id}}">
            <div class="MuiListItemAvatar-root">
              <div class="MuiAvatar-root makeStyles-avatar-203">
              {% if contact.picture %}
                <div class="MuiAvatar-root makeStyles-avatar-203">
                  <img alt="Person" src="{{ contact.picture.url }}" class="MuiAvatar-img">
                </div>
              {% else %}
                <div class="MuiAvatar-root MuiAvatar-colorDefault">
                  {{ contact.initial }}
                </div>
              {% endif %}
              </div>
            </div>
            <div class="MuiListItemText-root MuiListItemText-multiline">
              <span class="font-weight-bold">{{ contact.fullname }}</span>
              <p class="mb-0 txt_last_msg MuiTypography-root MuiListItemText-secondary MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-noWrap">{{ contact.user.id|last_message:user.id }}</p>
            </div>
            <div class="makeStyles-details-204">
              <p class="mb-0 MuiTypography-root MuiTypography-body2 MuiTypography-noWrap txt_last_msg_time">{{ contact.user.id|last_message_time:user.id }}</p>
              
                <span class="MuiTypography-root makeStyles-root-225 makeStyles-rounded-226 makeStyles-unread-205 MuiTypography-overline unread_count" style="background-color: rgb(244, 67, 54); color: rgb(255, 255, 255); {% if contact|unread_messages:user.id < 1 %} visibility:hidden;{% endif %}">{{ contact.user.id|unread_messages:user.id }}</span>
            </div>
            <span class="MuiTouchRipple-root"></span>
          </a>
        {% endif %}           
        {% endfor %}
        </ul>
       </div>
       <div class="makeStyles-root-353 makeStyles-conversationDetails-251">
        <div class="MuiToolbar-root MuiToolbar-regular makeStyles-root-354 MuiToolbar-gutters">
         <a class="MuiButtonBase-root MuiIconButton-root makeStyles-backButton-355 MuiIconButton-edgeStart" tabindex="0" role="button" aria-disabled="false" title="Back" href="/chat"><span class="MuiIconButton-label">
           <svg class="MuiSvgIcon-root" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
            <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"></path>
           </svg></span><span class="MuiTouchRipple-root"></span></a>
         <div class="makeStyles-user-356">
          <h6 class="MuiTypography-root MuiTypography-h6">{{ destination.fullname }}</h6>
          <div class="makeStyles-activity-357">
           <p class="mb-0 MuiTypography-root MuiTypography-body2">Active 2m ago</p>
          </div>
         </div>
         <div class="MuiPaper-root MuiPaper-elevation1 makeStyles-search-359 MuiPaper-rounded">
          <svg class="MuiSvgIcon-root makeStyles-searchIcon-360" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
           <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
          </svg>
          <div class="MuiInputBase-root MuiInput-root makeStyles-searchInput-361">
           <input class="MuiInputBase-input MuiInput-input" placeholder="Search message" type="text" id="search_email" />
          </div>
         </div>
         <button class="MuiButtonBase-root MuiIconButton-root" tabindex="0" type="button" title="More options"><span class="MuiIconButton-label">
           <svg class="MuiSvgIcon-root" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
            <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
           </svg></span><span class="MuiTouchRipple-root"></span></button>
        </div>
        <hr class="MuiDivider-root" />
        <div class="makeStyles-root-365">
         <div class="scrollbar-container ps bd-content">
          <div class="makeStyles-inner-366", id="messages_boddy">
          {% for message in messages %}
          {% if message.source.id != user.id %}
            <div class="makeStyles-root-367 mt-1 message_content">
              <div class="makeStyles-inner-369">
               <a class="MuiAvatar-root makeStyles-avatar-370">
                {% if message.source.picture %}
                  <img src="{{ message.source.picture.url }}" class="MuiAvatar-img" />
                {% else %}
                  <div class="MuiAvatar-root MuiAvatar-colorDefault">
                    {{ message.source.initial }}
                  </div>
                {% endif %}
               </a>
               <div>
                <div class="makeStyles-body-371">
                 <div>
                  <a class="font-weight-bold small">
                    {{ message.source.user.first_name }} {{ message.source.user.last_name }}
                  </a>
                 </div>
                 <div>
                  <p class="mb-0 MuiTypography-root MuiTypography-body1 MuiTypography-colorInherit">
                    {% if message.file %}
                      <b><a href="{{ message.file.url }}">file: {{ message.content }}</a></b>
                    {% else %}
                      {{ message.content }}
                    {% endif %}
                  </p>
                 </div>
                </div>
                <div class="makeStyles-footer-374">
                 <p class="mb-0 MuiTypography-root MuiTypography-body2">{{ message.timestamp.hour}}:{{ message.timestamp.minute}}</p>
                </div>
               </div>
              </div>
            </div>
          {% else %}
             <div class="makeStyles-root-367 mt-1 makeStyles-authUser-368 message_content" id="message{{ message.id }}">
              <div class="makeStyles-inner-369">
               <a class="MuiAvatar-root makeStyles-avatar-370">
                <img src="{% if message.source.picture %} {{ message.source.picture.url }}{% endif %}" class="MuiAvatar-img" />
              </a>
               <div>
                <div class="makeStyles-body-371">
                 <div>
                  <a class="font-weight-bold small">Me</a>
                  <button class="btn btn-link float-right m-0 p-0" onclick="deleteMessage({{ message.id }})">
                    <i class="fas fa-times text-danger" style="float: right;"></i>
                  </button>
                 </div>
                 <div>
                  <p class="mb-0 MuiTypography-root MuiTypography-body1 MuiTypography-colorInherit">
                    {% if message.file %}
                      <b><a href="{{ message.file.url }}">file: {{ message.content }}</a></b>
                    {% else %}
                      {{ message.content }}
                    {% endif %}
                  </p>
                 </div>
                </div>
                <div class="makeStyles-footer-374">
                 <p class="mb-0 MuiTypography-root MuiTypography-body2">{{ message.timestamp.hour}}:{{ message.timestamp.minute}}</p>
                </div>
               </div>
              </div>
             </div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
           <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; right: 0px;">
           <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
          </div>
         </div>
        </div>
    <form id="form_message" action="{% url 'chat' id_user %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <hr class="MuiDivider-root" />
        <div class="makeStyles-root-381">

        {% if user.contact.picture %}
          <div class="MuiAvatar-root makeStyles-avatar-203">
            <img alt="Person" src="{{ user.contact.picture.url }}" class="MuiAvatar-img">
          </div>
        {% else %}
          <div class="MuiAvatar-root MuiAvatar-colorDefault">
            {{ user_initial }}
          </div>
        {% endif %}
         <div class="MuiPaper-root MuiPaper-elevation1 makeStyles-paper-382 MuiPaper-rounded">
          <div class="MuiInputBase-root MuiInput-root makeStyles-input-383">
            {{ form.content }}
          </div>
         </div>
         <button id="btn_submit" class="MuiButtonBase-root MuiIconButton-root" tabindex="0" type="submit" title="Send">
            <span class="MuiIconButton-label">
           <svg class="MuiSvgIcon-root" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
            <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
           </svg></span><span class="MuiTouchRipple-root"></span></button>
         <hr class="MuiDivider-root makeStyles-divider-384" />
         {{ form.file }}
         <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-edgeEnd" tabindex="0" type="button" title="Attach file" onclick="$('#form_message_file').click()">
          <span class="MuiIconButton-label">
           <svg class="MuiSvgIcon-root" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
            <path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z">
            </path>
           </svg>
         </span><span class="MuiTouchRipple-root"></span>
         </button>
        </div>
        <input type="hidden" id="source" name="source" value="{{ user.id }}">
        <input type="hidden" id="destination" name="destination" value="{{ id_user }}">
    </form>
       </div>
      </div>
     </main>
    </div>
   </div>
  </div> 
  <div role="presentation" style="position: fixed; z-index: 1300; inset: 0px; visibility: hidden;" aria-hidden="true">
   <div tabindex="0" data-test="sentinelStart"></div>
   <div class="MuiPaper-root MuiMenu-paper MuiPaper-elevation8 MuiPopover-paper MuiPaper-rounded" style="opacity: 0; transform: scale(0.75, 0.5625); visibility: hidden;" role="document" tabindex="-1">
   </div>
   <div tabindex="0" data-test="sentinelEnd"></div>
  </div>
<script src="{% static "js/bootstrap.bundle.min.js" %}" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

  function deleteMessage(id){
    $.ajax({
      url: '/chat/api/message/'+id+'/',
      type: 'DELETE',
      headers : {"X-CSRFToken":$.cookie("csrftoken")}
    })
    .done(function() {
      $("#message"+id).remove(); 
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });   
  }

jQuery(document).ready(function($) {

function templMyMsg(id, content, time, img){
  time = time.split("T")[1].split('.')[0].slice(0,-3)
  return `
    <div class="makeStyles-root-367 mt-1 makeStyles-authUser-368" id="message`+id+`">
      <div class="makeStyles-inner-369">
       <a class="MuiAvatar-root makeStyles-avatar-370">
       <img src="`+img+`" class="MuiAvatar-img" /></a>
       <div>
        <div class="makeStyles-body-371">
         <div>
          <a class="font-weight-bold small">Me</a>
            <button class="btn btn-link float-right" onclick="deleteMessage(`+id+`)">
              <i class="fas fa-times text-danger" style="float: right;"></i>
            </button>
         </div>
         <div
          <p class="mb-0 MuiTypography-root MuiTypography-body1 MuiTypography-colorInherit">`+content+`</p>
         </div>
        </div>
        <div class="makeStyles-footer-374">
         <p class="mb-0 MuiTypography-root MuiTypography-body2">`+time+`</p>
        </div>
       </div>
      </div>
     </div>
    `
}

function templOthersMsg(source_name, content, time, img){
  time = time.split("T")[1].split('.')[0].slice(0,-3)
  return `
    <div class="makeStyles-root-367 mt-1">
      <div class="makeStyles-inner-369">
       <a class="MuiAvatar-root makeStyles-avatar-370"><img src="`+img+`" class="MuiAvatar-img" /></a>
       <div>
        <div class="makeStyles-body-371">
         <div>
          <a class="font-weight-bold small">`+source_name+`</a>
         </div>
         <div
          <p class="mb-0 MuiTypography-root MuiTypography-body1 MuiTypography-colorInherit">`+content+`</p>
         </div>
        </div>
        <div class="makeStyles-footer-374">
         <p class="mb-0 MuiTypography-root MuiTypography-body2">`+time+`</p>
        </div>
       </div>
      </div>
    </div>
    `
}

  function scrollDown(){
    div = $("#messages_boddy").parent(".bd-content");
    // div.scrollTop(div.prop("scrollHeight"));
    div.animate({ scrollTop: div.prop("scrollHeight")}, 100);
  }

  $("#form_message_file").on('change', function(event) {
    event.preventDefault();
    filename = $(this).val().replace(/.*(\/|\\)/, '');
    $('#form_message_text').val(filename);
  });

  loc = window.location;
  w_start = "ws://";
  if(loc.protocol==="https:"){
    w_start = "wss://";
  }
  ws_url = w_start+loc.host+loc.pathname;

  socket = new WebSocket(ws_url);

  socket.onmessage = function(e){
    console.log("socket new message", e);
    data = JSON.parse(e.data);
    sender_div = $("#contact"+data.source);

    sender_pic = sender_div.find('.MuiAvatar-img').attr('src');
    sender_name = sender_div.find('.contact_fullname').text();
    unread_count = sender_div.find('.unread_count');

    // if(sender_div.hasClass("makeStyles-active-328")){
    //   unread_count.text(0);
    //   unread_count.css('visibility', 'hidden');
    // }else{
      if(unread_count.text().trim().length < 1){
        unread_count.text(1);
      }else{
        unread_count.text(parseInt(unread_count.text())+1);
      }
    // }
    sender_div.find('.txt_last_msg').text(data.message);
    sender_div.find('.txt_last_msg_time').text(data.timestamp.split("T")[1].split('.')[0].slice(0,-3));
    if(String(data.source) == String($("#destination").val())){
      $("#messages_boddy").append(templOthersMsg(sender_name, data.message, data.timestamp, sender_pic));
    }
    scrollDown();
  };
  socket.onopen = function(e){
    console.log("socket open", e);
    $("#form_message").on('submit', function(event){
        event.preventDefault();
        event.stopPropagation();
        $form = $(this);
        $.ajax({
            url: '/chat/api/message/',
            type: 'POST',
            data: new FormData(this),
            processData: false,
            contentType: false,
            cache: false,
            headers : {"X-CSRFToken":$.cookie("csrftoken")},
        })
        .done(function(data) {
          $(".makeStyles-active-328").find('.txt_last_msg').text(data.content);
          message = data.content;
          if(data.file!=null){
            message = `<b><a href="`+data.file+`">`+data.content+`</a></b>`;
          }
          socket.send(
            JSON.stringify({
              "source":data.source,
              "destination":data.destination,
              "message":message,
              "timestamp":data.timestamp,
            })
          );
          my_avatar = $('#my_avatar').attr('src');
          console.log(my_avatar);
          $("#messages_boddy").append(templMyMsg(data.id, message, data.timestamp, my_avatar));
          $form.trigger("reset");
          div = $("#messages_boddy").parent(".bd-content");
          div.scrollTop(div.prop("scrollHeight"));
        })
        .fail(function() {
          console.log("failed")
        })
        .always(function() {
          console.log("complete");
        });
    });//on submit
  };//socket
  scrollDown();

$('#search_email').keyup(function(event) {
  for(let label of $(".message_content")){
    content = $(label).text().trim();
    if(content.toLowerCase().includes($(this).val().toLowerCase())){
      $(label).css("display","flex");
    }else{
      $(label).css("display","none");
    }
  }
});

$('#contact-search').keyup(function(event) {
  for(let label of $(".contact-item")){
    content = $(label).find(".font-weight-bold").text().trim();
    //to search even in lasts messages
    //content = $(label).text().trim();
    if(content.toLowerCase().includes($(this).val().toLowerCase())){
      $(label).css("display","flex");
    }else{
      $(label).css("display","none");
    }
  }
});

});
  </script>
 </body>
</html>