{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://localhost:3000/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="{% static "css/login.css" %}" rel="stylesheet" crossorigin="anonymous" />
    <title>Login</title>
  </head>
  <body>
    <html>
 <head></head>
 <body>
  <div id="root">
   <header class="MuiPaper-root MuiPaper-elevation4 MuiAppBar-root MuiAppBar-positionFixed makeStyles-root-2 MuiAppBar-colorPrimary mui-fixed">
    <div class="MuiToolbar-root MuiToolbar-regular MuiToolbar-gutters">
     <a href="."><img alt="Logo" src="{% static "img/logo.png" %}" /></a>
    </div>
   </header>
   {% if messages %}
      {% for message in messages %}
         {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show text-center fixed-top" id="danger-alert" role="alert">
               {{ message }}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
         {% endif %}
      {% endfor %}
   {% endif %}
   <main class="makeStyles-content-1">
    <div class="makeStyles-root-64">
     <div class="MuiPaper-root MuiPaper-elevation1 MuiCard-root makeStyles-card-65 MuiPaper-rounded">
      <div class="MuiCardContent-root makeStyles-content-66">
       <h3 class="MuiTypography-root MuiTypography-h3 MuiTypography-gutterBottom">Sign in</h3>
       <form class="makeStyles-root-100 makeStyles-loginForm-67"  method="POST" action='.'>
        {% csrf_token %}
        <div class="makeStyles-fields-101">
         <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth">
          <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined" data-shrink="false">Username</label>
          <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
           <fieldset aria-hidden="true" style="padding-left: 44.625px;" class="PrivateNotchedOutline-root-160 MuiOutlinedInput-notchedOutline">
            <legend class="PrivateNotchedOutline-legend-161" style="width: 0.01px;"><span>​</span></legend>
           </fieldset>
           <input aria-invalid="false" class="MuiInputBase-input MuiOutlinedInput-input" name="username" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;" />
          </div>
         </div>
         <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth">
          <label class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined" data-shrink="false">Password</label>
          <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
           <fieldset aria-hidden="true" style="padding-left: 34.875px;" class="PrivateNotchedOutline-root-160 MuiOutlinedInput-notchedOutline">
            <legend class="PrivateNotchedOutline-legend-161" style="width: 0.01px;"><span>​</span></legend>
           </fieldset>
           <input aria-invalid="false" class="MuiInputBase-input MuiOutlinedInput-input" name="password" type="password" value="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;" />
          </div>
         </div>
        </div>
        <button class="MuiButtonBase-root MuiButton-root makeStyles-submitButton-102 MuiButton-contained MuiButton-containedPrimary MuiButton-sizeLarge" tabindex="0" type="submit"><span class="MuiButton-label">Sign in</span><span class="MuiTouchRipple-root"></span></button>
       </form>
      </div>
     </div>
    </div>
   </main>
  </div>
</body>
</html>